<!DOCTYPE html>
<html>

<head>
    <title>Add Details</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app='app' ng-controller="modalCntrl">
    <label class="information">Click Here to Add New Employee</label>
    <div>
        <button ng-click="open()">ADD</button>
    </div>
    <div>
        <select>
            <option value="" selected disabled>--Please select month--</option>
            <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
        </select>
        <select>
            <option value="" selected disabled>--Please select year--</option>
            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
        </select>
    </div>
    <button class="pull-right">Logout</button>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
