<!-- div details-header starts -->
<div class="details-header">
    <!-- div for add employee button -->
    <div ng-controller="modalCntrl">
        <button ng-click="open()" class="add-employee"><i class="fa fa-user-plus"></i> ADD EMPLOYEE</button>
    </div>
    <!-- div logout for logout button -->
    <div class="logout">
        <span class="logout-text">LOG OUT</span><i class="fa fa-sign-out logout-icon" ng-click="logout()"></i>
    </div>
    <!-- Searching employee -->
    <div class="search-box">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search Employee By Name" ng-model="search"></input>
    </div>
</div>
<!-- div details-header ends -->
<button ui-sref="addDetails.employeeView" class="show-employee-button pull-right">Show Employees</button>
<div ui-view></div>
